body {
    background-image: url('../assets/taskitbg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;
}

.account-info {
    text-align: left;
    width: 292px;
    height: 100%;
    padding: 20px;
    background-color: rgba(51, 51, 51, 0.5);
    color: white;
    position: absolute;
    top: 168px;
    right: 8px;
}

header {
    background-color: rgba(51, 51, 51, 0.5);
    color: white;
    text-align: center;
    padding: 20px;
}

.thebox {
    margin-left: 200px;
    padding: 20px;
    background-color: rgba(51, 51, 51, 0.5);
    color: white;
}

.content {
    margin-left: 200px;
    margin-right: 332px;
    padding: 20px;
    background-color: rgba(51, 51, 51, 0.5);
    color: white;
}

form {
    max-width: 300px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

form label {
    display: block;
    text-align: center;
    font-weight: bold;
}

form input {
    width: 90%;
    padding: 5px;
    margin: 8px 0;
    border: 1px solid darkblue;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
}

form input:focus {
    border: 1px solid lightskyblue;
    outline: none;
}

form button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

form button:hover {
    background-color: #0056b3;
}

.circular-preview {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    border: 1px solid darkblue;
    display: flex;
}

.circular-preview img {
    max-width: 100%;
    max-height: auto;
    object-fit: cover;
}

.file-button {
    display: inline-block;
    background: white;
    color: black;
    padding: 5px;
    border: 1px solid darkblue;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: 86%;
    margin: 5px 0;
}

.file-button:hover {
    background: wheat;
}

footer {
    background-color: rgba(51, 51, 51, 0.8);
    color: white;
    text-align: center;
    padding: 10px;
}
